*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

body {
  background-color: #94E1F2;
}
