* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: #F2F2F2;
  color: #333333;
}

.container {
  max-width: 50%;
  height: 50vh;
  border: 2px solid #E8E8E8;
  border-radius: 15px;
  margin: 200px auto;
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 3.5em;
  margin-bottom: 40px;
  color: #333333;
}

span {
  font-size: 2em;
  font-weight: bold;
  color: #333333;
}
